<div class="container">
  <div class="row" id="main">
    <div class="col-sm-5">
      <div class="card border-secondary mb-3"> <!--style="width: 16rem;">-->
        <div class="card-header">Device Status</div>
          <div class="card-body">
            <!--<div class="row">
              <div class="col" style="float:center;">
                <img class="card-img-top" src="cons4.png">
              </div>
            </div>
            <div class="row">
              <div class="col" style="float:center;">
                <p class="text-center digital resize_font2">0,1 KWh</p>
              </div>
            </div>-->
            
            <div class="row">
              <div class="col"><h6>Internet:</h6></div>
              <div class="col">
                <p class="text-info">
                  {{#if internet}}
                    {{internet}}
                  {{else}}
                    -
                  {{/if}}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col"><h6>Active mode:</h6></div>
              <div class="col">
                <p class="text-info" id="active_mode">
                  {{#if program}}
                    {{program}}
                  {{else}}
                    -
                  {{/if}}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col"><h6>Season:</h6></div>
              <div class="col">
                <p class="text-info" id="active_season">
                  {{#if season}}
                    {{season}}
                  {{else}}
                    -
                  {{/if}}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col"><h6>Remote control:</h6></div>
              <div class="col">
                <p class="text-info">
                  {{#if remote}}
                    {{remote}}
                  {{else}}
                    -
                  {{/if}}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col"><h6>IPv4:</h6></div>
              <div class="col">
                <p class="text-info">
                  {{#if ipAddress}}
                    {{ipAddress}}
                  {{else}}
                    -
                  {{/if}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
      <!--<div class="col-sm-1"></div>-->
      
      
      <div class="col-sm-7">
        <div class="card border-secondary mb-3">
          <div class="card-header">Temperature</div>
          <div class="card-body">
            <div class="row">
              <div class="col" style="text-align:right;">
                <p class="card-text digital display-2 resize_font1" id="temperature">
			{{#if temperature}}
				{{temperature}}
		</p>
		</div>
			{{else}}
		</p>
		</div>
		<div class="col" style="text-align: left;" id="loader">
                	<div class="loader"></div>
              	</div>
			{{/if}}
              <div class="col text-center">
                <div class="btn-group-vertical" style="width: 3rem;">
                  <button type="button" class="btn btn-secondary" style="margin-top:15px;" id="increase">+</button>
                  <button type="button" class="btn btn-secondary" id="decrease">-</button>
                </div>
              </div>
            </div>
          <div class="row">
            <div class="col-sm-8 text-center">
              <i class="material-icons" id="on"></i>
            </div>
          </div>
          <div class="row">
            <div class="col-8 text-center">
                <div class="btn-group btn-group-lg" role="group" aria-label="First group" style="margin-top:15px;">
                  <button type="button" class="btn btn-secondary" style="text-align:center;" id="prog"><i class="material-icons">local_parking</i></button>
                  <button type="button" class="btn btn-secondary" style="text-align:center;" id="man"><i class="material-icons">pan_tool</i></button>
                  <button type="button" class="btn btn-secondary" style="text-align:center;" id="winter"><i class="material-icons">ac_unit</i></button>
                  <button type="button" class="btn btn-secondary" style="text-align:center;" id="summer"><i class="material-icons">wb_sunny</i></button>
                  <button type="button" class="btn btn-secondary" style="text-align:center;" id="off"><i class="material-icons">power_settings_new</i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="col-sm-1"></div>-->
  </div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/home.js"></script>
